:root{
    --size: 100px;
    --bg: rgba(142,165,111,1);
    --x: 0;
    --y: 0;
    --r: 255;
    --g: 0;
    --b: 0;
    --a: 1;
    --btnColor: #fff;
    --h: 0;
    --w: 0;
}

*{
    padding: 0;
    margin: 0;
    line-height: 1.1;
    box-sizing: border-box;
}
body{
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 100vw;
}
.ball{
    display: block;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg);
    z-index: 1;
    transition: color 0.1s 0s ease-in-out, width 0.5s 0s ease-in-out, height 0.5s 0s ease-in-out;
    transform: translate(
        calc(var(--x) * 1px),
        calc(var(--y) * 1px)
    );
}
.keys{
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    width: 30vh;
    height: 20vh;
    display: grid;
    z-index: 2;
    grid-template: 10vh / 10vh 10vh 10vh;
    grid-template-areas: 
        "left-special up-arrow right-special"
        "left-arrow own-arrow right-arrow"
    ;
}
.arrow{
    display: block;
    width: 100%;
    height: 100%;
    border: 3px rgba(255, 255, 255, 0.8) double;
    color: rgba(255, 255, 255, 0.8);
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    &::before{
        display: block;
        width: 100%;
        height: auto;
        margin: calc((10vh - 5vh) / 2) auto 0 auto;
    }
}
.warning{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    z-index: 500000000;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 70vh / 50vw;
    grid-template-areas: 
        "text text"
        "leave enter"
    ;
    .text{
        grid-area: text;
        color: #fff;
        border: 5px rgb(255,0,0) dashed;
        font-size: 200%;
        text-align: center;
    }
    .btn{
        border: 4px var(--btnColor) solid;
        border-radius: 25px;
        color: #fff;
        font-size: 200%;
        width: 80%;
        height: 70%;
        margin: auto;
        background-color: transparent;
        text-align: center;
    }
    .leave{
        --btnColor: #fff;
        grid-area: leave;
        .btn__link{
            color: inherit;
            text-decoration: none;
        }
    }
    .enter{
        --btnColor: rgb(255,0,0);
        grid-area: enter;
    }
}